<template>
    <div class="md-xlarge-size-100" id="set-size">
        <md-toolbar class="md-primary" md-elevation="1">
            <h3 class="md-title" style="flex: 2">Mam System</h3>
            <md-button v-on:click="reset()">Refresh</md-button>
            <md-button v-on:click="logout()" class="md-primary">Logout</md-button>
        </md-toolbar>
        <div class="md-large-size-80">
            <Epg class="epg-set"></Epg>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    /*#width-tap{*/
    /*height: 5000px;*/
    /*}*/
    .epg-set {
        margin-left: 3%;
        margin-right: 2%;
    }

    #set-size {
        width: 100%;
        height: 100%;
    }
</style>


<script>
    import Epg from '@/components/Epg.vue';
    import axios from 'axios';
    import config from '../vue.config'


    export default {
        name: "menu",
        components: {Epg},

        data: function () {
            return {
                currentRoute: window.location.pathname
            }
        },
        methods: {
            logout: function () {
                let data = {
                    token: localStorage.getItem('_token')
                };
                let action = this.$router;

                axios.post(config.base_url_api + '/users/authenticate/logout', data).then(function (res) {
                    if (res.data) {
                        action.push('/')
                    }
                }).catch(function (err) {
                    alert('Error logout ' + JSON.stringify(err));
                })

            },
            reset: function () {
                window.location.reload(true)
            },
        }
    }
</script>

<style scoped>

</style>