<template>
    <div>
        <div class="md-layout" id="set-with-box">
            <div class="md-layout-item">
                <md-field>
                    <label>Channel</label>
                    <md-select name="channel" id="channel" v-model="channel_code">
                        <md-option :value="null">---- select channels ----</md-option>
                        <md-option v-for="(channel, index) in channels" v-bind:value="channel.code"
                                   v-bind:key="index" v-bind:index="index">
                            {{channel.code}}
                        </md-option>
                    </md-select>
                </md-field>
            </div>
            <div class="md-layout-item">
                <md-datepicker v-model="selectedDate" md-immediately/>
            </div>
            <div class="md-layout-item bt-filter">
                <md-button class="md-primary md-raised" @click="getData()"> Filter</md-button>
            </div>
        </div>
        <md-table v-if="is_table" v-model="movies" @md-selected="onSelect">
            <md-table-toolbar>
                <h1 class="md-title">EPG</h1>
                <md-button class="md-primary md-raised bt-save" @click="Save">Save</md-button>
            </md-table-toolbar>

            <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple" @click="SelectOne(item)"
                          md-auto-select>
                <md-table-cell md-label="EpisodeId" md-sort-by="name">{{ item.ep_id }}</md-table-cell>
                <md-table-cell md-label="EpisodeName" md-sort-by="email">{{ item.ep_name }}</md-table-cell>
                <md-table-cell md-label="Status" md-sort-by="gender">{{ item.status }}</md-table-cell>
            </md-table-row>
        </md-table>
    </div>
</template>
<style lang="scss">
    .md-table + .md-table {
        margin-top: 16px;
        width: 100%;
        height: 100%;
    }

    .bt-save {
        margin-right: 10px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .bt-filter {
        margin-left: 15px;
        margin-top: 20px;
    }
</style>
<script>
    import axios from 'axios';
    import moment from 'moment';
    import config from '../vue.config'
    let http = axios.create({
        baseURL: config.base_url_api + '/api/v1',
        timeout: 5000,
    });

    export default {

        name: 'Epg',
        asyncMethods: {},
        created: function () {
            let _this = this;

            http.get('/content_channel/').then(function (response) {
                _this.channels = response.data;
            });

        },
        methods: {
            getData: async function () {

                try {

                    let _this = this;
                    _this.movies = [];
                    _this.$log.debug(_this.channel_code, _this.selectedDate);
                    let query = '';
                    if (_this.selectedDate) {
                        query += 'start_date=';
                        query += moment(_this.selectedDate).format('YYYY-MM-DD');
                    }
                    if (_this.channel_code) {
                        if (query.includes('start_date=')) {
                            query += '&'
                        }
                        query += 'channel_code=' + _this.channel_code
                    }

                    let response_epg = await http.get('/epg/query/data/?' + query);
                    let epg_list = response_epg.data;

                    let response_live_record = await http.get('/live_record/');
                    let live_record = response_live_record.data;
                    for (let epg of epg_list) {
                        let live = live_record.find(function (live) {
                            return live.ep_id === epg.ep_id;
                        });
                        if (live) {
                            epg.status = live.status;
                            _this.$log.debug(live.status);
                            _this.movies.push(epg);
                        } else {
                            _this.movies.push(epg)
                        }

                    }
                    if (_this.movies.length > 0) {
                        _this.is_table = true
                    }

                }
                catch (error) {
                    alert(error)
                }
            },
            onSelect: function (items) {
                this.selected = items
            },
            SelectOne: function (movie) {
                movie.isChecked = true;
                this.selected.push(movie)
            },
            Save: function () {
                let _this = this;
                this.selected.forEach(function (data) {
                    data.status = 'queue';
                    http.post('/live_record/', data, function (response) {
                        if (response.data) {
                            _this.$log.debug('create success.')
                        }
                    });
                });
                localStorage.setItem('_channel_code', _this.channel_code);
                localStorage.setItem('_start_date', _this.selectedDate);
                window.location.reload(true);
            }
        },
        data: () => ({

            selected: [],
            movies: [],
            is_table: false,
            currentDate: null,
            selectedDate: new Date(Date.now()),
            channel_code: null,
            channels: [],
        }),


    }
</script>