<template>
    <div class="md-layout-item">
        <h1>{{ message }}</h1>
        <div>
            <md-field md-clearable>
                <label>Username</label>
                <md-input v-model="username"></md-input>
            </md-field>

            <md-field>
                <label>Password</label>
                <md-input v-model="password" type="password"></md-input>
            </md-field>
            <div id="position-button">
                <md-button class="md-raised md-alignment-bottom-center" :md-ripple="false" v-on:click="Reset">Reset
                </md-button>
                <md-button class="md-raised md-primary" v-on:click="Login">Login</md-button>

            </div>
        </div>

    </div>
</template>

<script>
    // import az
    import axios from 'axios';
    import config from '../vue.config'

    export default {
        name: 'Index',

        data: function () {
            return {
                message: "Welcome to Mam System",
                password: null,
                username: null,
            }
        },
        methods: {
            Login: function () {
                let data = {
                    username: this.username,
                    password: this.password
                };
                let action = this.$router;
                axios.post(config.base_url_api + '/users/authenticate', data).then(
                    function (response) {
                        localStorage.setItem('_token', JSON.stringify(response.data.token));
                        action.push({name: 'menu'})
                    }
                ).catch(
                    function (error) {
                        alert(error)
                    }
                );

            },
            Reset: function () {
                this.password = null;
                this.username = null;
            }
        }

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

    .md-layout-item {

        margin-left: 650px;
        margin-top: 200px;
        #position-button {
            padding-left: 60px;
        }
        h3 {
            margin: 40px 0 0;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            display: inline-block;
            margin: 0 10px;
        }
        a {
            color: #42b983;
        }
    }

</style>
