<template>
    <div>
        <md-table v-model="movies" md-card style="width: 100%; height: 100%">
            <md-table-toolbar>
                <h1 class="md-title">EPG</h1>

            </md-table-toolbar>

            <md-table-row slot="md-table-row" slot-scope="{ item }" >
                <md-table-cell md-label="EpisodeID">
                    {{ item.ep_id }}
                </md-table-cell>
                <md-table-cell md-label="Episode">
                    {{ item.ep_name }}
                </md-table-cell>
                <md-table-cell md-label="Status">
                    {{ item.status }}
                </md-table-cell>
            </md-table-row>
        </md-table>

    </div>
</template>

<script>
    import axios from 'axios';

    const http = axios.create({
        baseURL: 'http://127.0.0.1:3000/api/v1',
        timeout: 1000,
        headers: {'Content-Type': 'application/json'}
    });

    export default {
        name: "Record",
        created: function(){
            let _this = this;
            http.get('/live_record/').then(function (response) {
                if (response.data){
                    _this.movies.pop();
                    _this.movies = response.data
                }
            })
        },
        data: function () {
            return {
                movies: [{}]
            }
        }
    }
</script>

<style scoped>

</style>