<template>
    <div id="app" class="md-layout">
            <router-view/>
    </div>
</template>

<style lang="scss">
    @import "~vue-material/dist/vue-material.css";
    @import '~vue-material/dist/theme/default.css';
    @import "~vue-material/dist/theme/engine";
    @import "~vue-material/dist/theme/all";

</style>
